body {
    background-color: #fffce2;
}
.canvas {
    border-color: gray;
    border-style: solid;
    background-color: #ffff;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clear-button {
    padding: 20px 60px;
    margin-bottom: 20px;
}